---
import Layout from "$layouts/Layout.astro";



export async function getStaticPaths() {
	const categories = await Astro.glob('$data/categories/*.md')

	// const Posts = (await import.meta.glob('$data/products/*.md'))
	return categories?.map((category) => ({
		// params: { slug: post.file.pathname.split('/').pop().split('.').shift() },
		// params: { product: post.file.split('/').pop().split('.').shift() },
		params: { category: category.frontmatter.slug },
		props: { category: category },
	}))
}

const { Content, frontmatter} = Astro.props.category;



// const category = sql.prepare("SELECT * FROM categories WHERE slug = ?").get(Astro.params.category);
// const products = sql.prepare("SELECT * FROM products WHERE category = ?").all(category?.id);

const products = await getProducts()
async function getProducts() {
	let products = await Astro.glob('$data/products/*.md')
	return products?.map((p) => p.frontmatter)?.filter(p => p.category_slug == Astro.params.category)?.sort((a, b) => a.position - b.position)
}

---

<Layout title={frontmatter?.name || 'woo'}>
	<p>
		<a href="/">Home</a> / 
		{frontmatter?.name}
	</p>
	<section class="MaxWidthSmall">
		<h1>{frontmatter?.name}</h1>
		<Content />
	</section>
	<!-- <p>Browse our products in the {frontmatter?.name} category:</p> -->
	<section class="Grid MaxWidthLarge">
		{products?.map((product:any) => (
			<a href={`/${frontmatter?.slug}/${product.slug}`}>
				<article class="Card">
					{product.image ? <img src={product.image} alt={product.name} loading="lazy" /> : null}
					<h3>{product.name}</h3>
				</article>
			</a>
		))}
	</section>
</Layout>